<div>
  <div *ngIf="storeData" class="create">
    <h1>{{ storeData.name }}</h1>
    <img [src]="storeData.imgSrc" alt="{{ storeData.name }} Image" />
    <p>{{ storeData.detail }}</p>
  </div>
  <button
    class="button-danger cancel"
    *ngIf="storeCards.length >= 2"
    (click)="deleteAllCards()"
  >
    Cancella tutti i Prodotti
  </button>
  <button (click)="createNewCard()">Aggiungi Nuov Prodotto</button>
  <div class="card-container" *ngIf="storeCards.length > 0">
    <div class="card" *ngFor="let card of storeCards">
      <h3>{{ card.name }}</h3>
      <p>{{ card.detail }}</p>
      <p>Prezzo: {{ card.price }}</p>
      <img [src]="card.imgSrc" alt="{{ card.name }} Image" />
      <button class="mod" (click)="editCard(card)">Modifica</button>
      <button class="button-danger delete" (click)="deleteCard(card)">
        Elimina
      </button>
      <div *ngIf="card.editing">
        <input [(ngModel)]="card.name" />
        <input [(ngModel)]="card.detail" />
        <input [(ngModel)]="card.price" />
        <button (click)="saveEdit(card)">Salva</button>
        <button (click)="cancelEdit(card)">Annulla</button>
      </div>
    </div>
  </div>
</div>
