<div class="create-card-container">
  <h2>Stores</h2>
  <ng-container *ngIf="isAdmin">
    <button (click)="createStore()">Crea Nuovo Store</button>
  </ng-container>
  <!-- Delete all store -->
  <button
    class="button-danger cancel"
    *ngIf="isAdmin && storeCards.length >= 2"
    (click)="deleteAllStore()"
  >
    Elimina tutti
  </button>
</div>
<div class="card-box h-100">
  <div class="card-container">
    <!-- Creazione Store -->
    <div class="create" *ngFor="let storeCard of storeCards">
      <h3>{{ storeCard.name }}</h3>

      <p>Dettagli: {{ storeCard.detail }}</p>

      <img
        [src]="storeCard.imgSrc"
        alt="{{ storeCard.imgSrc }}"
        width="100"
        height="100"
      />

      <div class="button-container">
        <ng-container *ngIf="isAdmin && !storeCard.editing">
          <button class="mod" (click)="openEditform(storeCard)">
            Modifica
          </button>
        </ng-container>
        <ng-container *ngIf="isAdmin && !storeCard.editing">
          <button class="button-danger cancel" (click)="deleteStore(storeCard)">
            Elimina
          </button>
        </ng-container>
        <button [routerLink]="['/store', storeCard.id]">Vai allo Store</button>
      </div>

      <div *ngIf="storeCard.editing">
        <label>Nome:</label>
        <input [(ngModel)]="storeCard.name" type="text" />

        <label>Dettagli:</label>
        <textarea [(ngModel)]="storeCard.detail"></textarea>

        <label>Immagine:</label>

        <input [(ngModel)]="storeCard.imgSrc" type="text" />

        <button (click)="updateStore(storeCard)">Salva Modifiche</button>
        <button
          class="button-danger cancel"
          (click)="cancelEditFrom(storeCard)"
        >
          Annulla
        </button>
      </div>
    </div>
  </div>
</div>
